body{
    background: url('../images/slide-2.jpg');
    background-size:cover;
  }
.well,.admincontent{
    margin-top:10%;
    margin-bottom:20px;
}
.admin-menu li{
    width:80%;
}
.admin-menu li a{
    color: black;
    font-size:18px;
    font-weight: bold;
    }
.admin-menu li a:hover{
    background: lightcoral;
}
.adminhead{
    font-family: Constantia, cursive;
    color: lightcoral;
    text-align: center;
    font-weight: bold;
}
.admincontent h3{
    color:black;
      }
.container{
    color:black;
}
