body{
   margin: 0px;
   padding: 0px;
   font-family: "Constantia" cursive;
    font-style: italic;
 }
.navbar-inverse{
    border-radius: 0px;
}
.thumbnail{
    /*border: solid black 1px;*/
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}
hr{
    border-top: 1px solid #ddd;
}

.test{
    margin-bottom: 10px;
    border-bottom: 1px solid darkgrey;
}
.main{
margin-top: 77px;
color: black;

}
.main ul{
    margin-bottom: 15px;
    margin-top: 15px;
}

.eventDesc{
   border: 1px solid #ddd; 
}
.h h2{
    display: inline-block;
    margin-top: 0px;