footer{
    text-align:center;
    background-color: #176982;
}

#content{
    min-height:100vh;
}
.copyright{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#808080;
    font-size:14px;
    padding-top: 10px;
    font-style: normal;
    height: 80px;
}
.quicklinks{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    height:80px;
    line-height:80px;
    margin-bottom: 0px;
    
}
.social{
    /*height:80px;*/
    line-height:80px;
    text-align: right;
    margin-bottom: 0px;
    
}
.social li a{
    text-align:center;
    display:block;
    background-color: transparent;
    width:40px;
    font-size:20px;
    font-weight:bold;
    color:#808080;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
    text-decoration: none;
}
.social li a:hover,.social li a:focus{
    color:#ff6600;
    text-align:center;
    text-decoration: none;
}

.privacyterm{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#808080;
    text-align: center;
    font-style: italic;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    top:50px;
    margin-bottom: 0px;
}

.privacyterm ul{
    margin-bottom: 0px;
}

.privacyterm li a{
    text-decoration: none;
   color:#808080;
    font-size: 14px;
}

.privacyterm li a:hover{
    color:#ff6600;
}
.btn:focus,.btn:active,.btn.active,.btn:active:focus{
    outline:0;
    text-align:center;
}


#style{
    display: block;
    list-style-type: none;
    text-align: left;
}
#style>li>a{ 
    color:#808080;
    text-align: left;
    font-size:16px;
    text-decoration: none;
    padding-left:15px;
    font-weight: bold
}
#style>li>a:hover{
    color:#ff6600;  
    text-decoration: none;
}
#style>li>a.active{
    color:#ff6600;  
    text-decoration: none;
}


.privacy, .terms{
  cursor: pointer;
}
.style .privacy, .style .terms{
    font-size:12px;
}

.links,.copy{
    display: inline-block;
}

#ppModal{
    font-style: normal;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: left;
}

.pp{
    position: relative;
    padding: 15px;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.pp p{
    margin: 0 0 10px;
    font-size: unset;
    font-weight: unset;
    text-align: unset;
    padding:unset;
}

.pp ul, .pp ol{
    padding-left: 40px;
}

.pp1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
}

.pp2{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
}

.pp2:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}


@media(max-width: 700px){


   .links,.social,.copy{
    display:block;
    }

    .social{
        text-align: center;
    }

    .social li a, .quicklinks li a {
        line-height: normal;
    }

    .social li a{
        font-size: 16px;
    }

    .copyright{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .links .quicklinks{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-align:center;
    }


    .btn:focus,.btn:active,.btn.active,.btn:active:focus{
        outline:0;
        text-align:center;
    }


    #style{
        display: block;
        list-style-type: none;
        text-align: center;
    }
    #style>li>a{
        text-align: 
        left;
        font-size:14px; 
        padding:0; 
        margin:0;
        text-decoration: none;
    }

    .quicklinks{
        height: 0px;
        line-height: 0px;
        padding: 20px 0;
    }
    .social{
        height: 0px;
        line-height: 0px;
        padding-bottom:30px;
    }
    .privacyterm{
        top:40px;
    }
}

