footer{
    padding:10px 0;
    text-align:center;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;

}
footer span.copyright{
    line-height:40px;
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:white;

}
footer ul.quicklinks{
    margin-bottom:0;
    line-height:40px;
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

}
ul.social-buttons{
    margin-bottom:0
}
ul.social-buttons li a{
    display:block;
    background-color:#222;
    height:40px;
    width:40px;
    border-radius:100%;
    font-size:20px;
    line-height:40px;
    color:#fff;
    outline:0;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
}
ul.social-buttons li a:hover,ul.social-buttons li a:focus,ul.social-buttons li a:active{
    background-color:#fed136
}
.btn:focus,.btn:active,.btn.active,.btn:active:focus{
    outline:0
}
.glyphicon,.glyphicon-map-marker{ font-size:50px; }
