.container,.container-fluid{padding-left:0;padding-right:0;font-family: Calibri,cursive; font-style: italic; font-weight: bold;position:relative}
.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
    font-size:16px;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand {
    color: #fff;
    background-color: transparent;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: cornflowerblue;
    background-color: transparent;
}
/*.navbar {
    position: relative;
    min-height: 27px;
    margin-bottom: 5px;
    border: 1px solid transparent;
}*/