body{
	font-family: Constantia cursive;
}

.thumbnail{
    padding: 0px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}
hr{
    border-top: 1px solid #ddd;
}
.main{
margin-top: 7%;
    font-style: italic;
}

.main ul{
    margin-bottom: 15px;
    margin-top: 15px;
}

.projectDesc{
   border: 1px solid #ddd; 
}
.h h2{
    display: inline-block;
    margin-top: 0px;
    color: black;
}
.page ul{
   display: flex;
justify-content: center;
}

.pagination li:not(.active){
cursor: pointer;
}
.noclick{
    cursor: none;
}
.image{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.image img{
    width: 100%;
    height: 250px;
    -webkit-transition: all 1s ease; Safari and Chrome
    -moz-transition: all 1s ease; Firefox
    -o-transition: all 1s ease; IE 9
    -ms-transition: all 1s ease; Opera
    transition: all 1s ease;
}

.image:hover img {
    /*height: 278px;*/
        -webkit-transform:scale(1.07); /* Safari and Chrome */
    -moz-transform:scale(1.07); /* Firefox */
    -ms-transform:scale(1.07); /* IE 9 */
    -o-transform:scale(1.07); /* Opera */
     transform:scale(1.07);
     overflow: hidden;
     /*cursor: pointer;*/
     opacity: 0.7;
}
.title{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: white;
    font-size: 30px;
    text-align: center;
    /*border: 1px solid black;*/
    background: rgba(0,0,0,0.5) 
    /*width: 100%;*/
}
.image button{
   position: absolute;
display: block;
width: 100px;
height: 30px;
top: 0px;
bottom: 0px;
right: 0px;
left: 0px;
margin: auto;
display: none;
}
.image:hover button{
    display: block;
}
.btn{
    padding: 0px;
}
.title{
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}