html,body{
    min-width: 492px;
}

.container, .container-fluid{
    font-style: normal;
}
.thumbnail{
    padding: 0px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}
hr{
    border-top: 1px solid #ddd;
}
.main{
margin-top: 7%;
}

.main ul{
    margin-bottom: 15px;
    margin-top: 15px;
}

.projectDesc{
   border: 1px solid #ddd; 
}

.h h2{
    display: inline-block;
    margin-top: 0px;
    color: black;
}
.page ul{
   display: flex;
justify-content: center;
}

.pagination li:not(.active){
cursor: pointer;
}

.noclick{
    cursor: none;
}

.image{
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
 align-content: center;
}

.image img{
    width: 100%;
    height: 250px;
    -webkit-transition: all 1s ease; Safari and Chrome
    -moz-transition: all 1s ease; Firefox
    -o-transition: all 1s ease; IE 9
    -ms-transition: all 1s ease; Opera
    transition: all 1s ease;
    display: block;
    
}

.image:hover img {
    -webkit-transform:scale(1.07); /* Safari and Chrome */
    -moz-transform:scale(1.07); /* Firefox */
    -ms-transform:scale(1.07); /* IE 9 */
    -o-transform:scale(1.07); /* Opera */
     transform:scale(1.07);
     overflow: hidden;
     opacity: 0.7;
}

.title{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    background: rgba(0,0,0,0.5) 
}

.image button{
position: absolute;
display: block;
width: 100px;
height: 30px;
top: 0px;
bottom: 0px;
right: 0px;
left: 0px;
margin: auto;
display: none;
}

.image:hover button{
    display: block;
}

.title{
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}
.create{
    background-color: green;
    color:white;
}
.modal-header{
    width: 100%;
    height: 200px;
 background-size: cover;
 /*background-size: 100% 100%;*/
    background-repeat: no-repeat;
    
    position: relative;
}
.modal-header h4{
    position: absolute;
    bottom: 0px;
    color: black;
}
@media (max-width: 768px){
    .nav-justified > li {
        display: table-cell;
        width: 1%;
  }
    .nav-justified > li > a  {
        border-bottom: 1px solid #ddd !important;
        border-radius: 4px 4px 0 0 !important;
        margin-bottom: 0 !important;
  }
    .nav-justified > li.active > a  {
        border-bottom: 1px solid transparent !important;
  }

}