.msg{
    text-align:center;
    color:darkblue;
    font-weight: bold;
    text-transform: capitalize;
}
.pull-right{
    text-align:right;
}
h2{
    color:#ff6600;
}
h4{
    color:darkcyan;
}
.pull-right h3{
    color:red;
}
#printableArea{
    margin-top:10%;
   }
.container{
    color:black;
}
h1{
    color: #ff6600;}