/*.container{margin-top: 10%;}*/
.resetpage{margin-top: 10%;}
.form-control {
    width: 100%;
    height: 50px;
    padding: 5px 7px 5px 15px;
    background: #fff;
    color: #666;
    border: 2px solid #ddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.form-control:focus, .form-control:focus + .fa {
    border-color: navy;
    color: navy;
}
.formspacing{
    padding:3px;
}

.form-group .fa {
    position: absolute;
    right: 25px;
    top: 17px;
    color: #999;
}