#support{
    /*text-align: center;*/
    /*background-color: lightgrey;*/
}
h2{
    margin-top: 0px;
    color: black;
}
h4{
    margin-top: 15px;
    margin-bottom: 0px;
    color: black;
    /*text-align: center;*/
}

.main{
    margin-top: 77px;
}
.center-col{
    float: none;
margin: 10px auto;
}
a>p{
color: black;
}
.option:hover{
    background-color: lightgrey;
    cursor: pointer;
    /*height: 170px;*/
}
.option p{
    text-align: center;
}
.option img{
    height: 160px;
    width: 100%;
}
#sub{
    margin: 10px auto;
    display: block;
}
.selected, .selected:hover{
    background-color: #5cb85c;
    border: 1px solid black;
}
.selected img {
    -webkit-filter: grayscale(75%);
    filter: grayscale(75%);
}
#error{
    text-align: center;
    color: red;
}