.main{
    margin-top: 77px;
    font-family: Constantia,cursive;
    font-style: normal;
}

#support{
    text-align: center;
    background-color: lightgrey;
}
.select-cause{
margin-top: 25px;
}
h2{
    margin-top: 0px;
    color: black;
}
h4{
    margin-top: 15px;
    margin-bottom: 0px;
    color: black;

}


.center-col{
    float: none;
margin: 10px auto;
}
a>p{
color: black;
}

.option:hover{
    background-color: lightgrey;
    cursor: pointer;
    text-decoration: none;
    /*height: 170px;*/
}
.option p{
    text-align: center;
}
.option img{
    height: 250px;
    width: 100%;
}
.default img{
    height: auto;
    width: auto;
}
#sub{
    margin: 10px auto;
    display: block;
}
.selected, .selected:hover{
    background-color: #5cb85c;
    border: 1px solid black;
}
.selected img {
    -webkit-filter: grayscale(75%);
    filter: grayscale(75%);
}
#error{
    text-align: center;
    color: red;
}
.pagination li:not(.active){
cursor: pointer;
}
.page ul{
   display: flex;
justify-content: center;
}
.title{
     white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}
