body{
padding-top: 65px;
min-height: 100%;
min-width: 312px;
    }
.wrapper{
    min-height: calc(100vh - 125px);
}
/*.btn{
        margin-top:8px;
    }*/

.sel{
height: 180px;
width: 100%;
background-color: white;
border-radius: none;
border: 1px solid #e8e8e8;

    }   
    .sel:hover{
        background-color: lightgrey;
    }
input[type="radio"]:checked{
   border: 5px solid blue; 
}

/* body{
padding-top: 65px;
min-height: 100%;
min-width: 312px;
    }
.wrapper{
    min-height: calc(100vh - 125px);
}
.btn{
        margin-top:8px;
    }

.sel{
height: 45px;
width: 100%;
background-color: white;
border-radius: none;
border: 1px solid #e8e8e8;

    }   
    .sel:hover{
        background-color: lightgrey;
    }
.selected{
   border: 1px solid darkblue; 
}
*/