*{margin:0 ;padding:0}
body{
    overflow-x: hidden;
    color: black;
    text-align: center;
    font-family:Constantia,cursive;
    background-color: rgba(69, 62, 14, 0.08);

}
.container-fluid{padding:5px;}
h1{font-size:40px;}
.div1{

}
   .div2{
            padding-bottom: 40px;
   }
   p{
       font-size: 18px;
       font-weight: 500;
       text-align: justify;
       padding:5px;
   }
   a{color:ghostwhite;
   font-size: 16px;
   }
h3{
    min-height: 50px;}

/*-------------------------------------------------Preethi Changes------------------------------------------------*/
@media screen and (min-width: 200px) {
    .carousel {
        min-height: 140px;
        margin-bottom: 60px;
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 140px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 140px;
    }
    .donate_carousel{
        height:330px;
        margin-top: 80%;
        font-size: 16px;
        background: rgba(17, 0, 8, 0.46);
        border-radius: 20px;
        padding: 20px 10px;
    }
    .donate_carousel >.btn{
        width:85px;
        font-size: 16px;
    }
    .donate_carousel >.donors1 > p {
        font-size: 18px;}
    h1 {
        font-size: 25px;
    }
    .carousel-caption p{font-size: 19px;}
    .carousel-caption > .btn-lg{ width:95px; font-size: 16px;}

}
@media (min-width: 320px) {
    .carousel {
        min-height: 140px;
        margin-bottom: 60px;
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 140px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 140px;
    }
    .donate_carousel{
        height:400px;
        margin-top: 50%;
        font-size: 16px;
        background: rgba(17, 0, 8, 0.46);
        border-radius: 20px;
        padding: 20px 10px;
    }
    .donate_carousel >.btn{
        width:85px;
        font-size: 16px;
    }

    .donate_carousel >.donors1 > p {
        font-size: 18px;}
    h1 {
        font-size: 25px;
    }
    .carousel-caption p{font-size: 19px;}
    .carousel-caption > .btn-lg{ width:95px; font-size: 16px;}

}
@media screen and (min-width: 320px) {
    .carousel {
        min-height: 140px;
        margin-bottom: 60px;
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 140px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 140px;
    }
    .donate_carousel{
        height:330px;
        margin-top: 50%;
        font-size: 16px;
        background: rgba(17, 0, 8, 0.46);
        border-radius: 20px;
        padding: 20px 10px;
    }
    .donate_carousel >.btn{
        width:85px;
        font-size: 16px;
    }

    .donate_carousel >.donors1 > p {
        font-size: 18px;}
    h1 {
        font-size: 25px;
    }
    .carousel-caption p{font-size: 19px;}
    .carousel-caption > .btn-lg{ width:95px; font-size: 16px;}

}

@media screen and (min-width: 360px) {
    .carousel {
        min-height: 140px;
        margin-bottom: 60px;
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 140px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 140px;
    }
    .donate_carousel{
        height:330px;
        margin-top: 50%;
        font-size: 14px;
        background: rgba(17, 0, 8, 0.46);
        border-radius: 20px;
        padding: 20px 10px;
    }
    .donate_carousel >.btn{
        width:85px;
        font-size: 16px;
    }

    .donate_carousel >.donors1 > p {
        font-size: 18px;}
    h1 {
        font-size: 25px;
    }
    .carousel-caption p{font-size: 19px;}
    .carousel-caption > .btn-lg{ width:95px; font-size: 16px;}

}

@media screen and (min-width: 520px) {
    .carousel {
        min-height: 140px;
        margin-bottom: 60px;
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 140px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 140px;
    }
    .donate_carousel{
        height:170px;
        margin-top: 35%;
        font-size: 16px;
        background: rgba(17, 0, 8, 0.46);
        border-radius: 20px;
        padding: 20px 10px;
    }
    .donate_carousel >.btn{
        width:120px;
        font-size: 20px;
    }

    .donate_carousel >.donors1 > p {
        font-size: 20px;}
    h1 {
        font-size: 30px;
    }
    .carousel-caption p{font-size: 22px;}
    .carousel-caption > .btn-lg{ width:105px; font-size: 18px;}


}

@media screen and (min-width: 992px) {
    .carousel {
        min-height: 140px;
        margin-bottom: 60px;
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 140px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 140px;
    }
    .donate_carousel{
        height:150px;
        margin-top: 30%;
        font-size: 16px;
        background: rgba(17, 0, 8, 0.46);
        border-radius: 20px;
        padding: 20px 10px;
    }
    .donate_carousel >.donors1 > p {
        font-size: 20px;}
    h1 {
        font-size: 35px;
    }
    .carousel-caption p{font-size: 25px;}
    .carousel-caption > .btn-lg{ width:120px; font-size: 20px;}



}
@media screen and (min-width: 1192px) {
    .carousel {
        height: 666px;
        min-height: 200px;
        margin-bottom: 60px;
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 140px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 140px;
    }
    .donate_carousel{
        height:150px;
        margin-top: 30%;
        font-size: 16px;
        background: rgba(17, 0, 8, 0.46);
        border-radius: 20px;
        padding: 20px 10px;
    }
    .donate_carousel >.donors1 > p {
        font-size: 20px;}
    h1 {
        font-size: 40px;
    }
    .carousel-caption p{font-size: 25px;}
    .carousel-caption > .btn-lg{ width:125px; font-size: 20px;}



}
@media screen and (min-width: 1292px) {
    .carousel {
        min-height: 400px;
        height: 666px;
        margin-bottom: 60px;
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 140px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 140px;
    }
    .donate_carousel{
        height:150px;
        margin-top: 30%;
        font-size: 16px;
        background: rgba(17, 0, 8, 0.46);
        border-radius: 20px;
        padding: 20px 10px;
    }
    .donate_carousel >.donors1 > p {
        font-size: 25px;}
    h1 {
        font-size: 40px;
    }
    .carousel-caption p{font-size: 25px;}
    .carousel-caption > .btn-lg{ width:125px; font-size: 20px;}


}
@media screen and (min-width: 1392px) {
    .carousel {
        min-height: 400px;
        height: 666px;
        margin-bottom: 60px;
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 140px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 140px;
    }
    .donate_carousel{
        height:150px;
        margin-top: 30%;
        font-size: 16px;
        background: rgba(17, 0, 8, 0.46);
        border-radius: 20px;
        padding: 20px 10px;
    }
    .donate_carousel >.donors1 > p {
        font-size: 25px;}
    h1 {
        font-size: 40px;
    }
    .carousel-caption p{font-size: 25px;}
    .carousel-caption > .btn-lg{ width:125px; font-size: 20px;}



}
@media screen and (min-width: 1920px) {
    .carousel {
        min-height: 666px;
        height: 1000px;
        margin-bottom: 60px;
    }
    .carousel-caption {
        /*z-index: 10;*/
        text-align: left;
        top:30%;
        left:10%;
        /*width:700px;*/
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 666px;
       max-height: 1000px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 666px;
        max-height: 1000px;
    }
    .carousel-inner1 > .item > img {
        position: relative;
        top: 0;
        left: 0;}
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 140px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 140px;
    }
    .donate_carousel{
        height:150px;
        margin-top: 30%;
        font-size: 16px;
        background: rgba(17, 0, 8, 0.46);
        border-radius: 20px;
        padding: 20px 10px;
    }
    .donate_carousel >.donors1 > p {
        font-size: 25px;}
    h1 {
        font-size: 40px;
    }
    .carousel-caption p{font-size: 25px;}
    .carousel-caption > .btn-lg{ width:125px; font-size: 20px;}



}


.carousel {
    height: 666px;
    border-color: #0f0f0f; box-shadow:0 0 10px #fff;;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    /*z-index: 10;*/
    text-align: left;
    top:30%;
    left:10%;
    /*width:700px;*/
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 666px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 666px;
}
.carousel-inner1 > .item > img {
    position: relative;
    top: 0;
    left: 0;}
.first > a , .first > p, .first >h1{ color:black ;}
.second > a , .second > h1 , .second >p { color :black; }
.second > a{border-color:rgba(3, 56, 69, 0.76) }
.third > a{ color :white;}
@media screen and (max-width: 768px){
    .carousel-caption {
    text-align: left;
    top:30%;
    left:10%;
}
    .donate_carousel{
        height:150px;
        top: 50%;
        font-size: 16px;
        background: rgba(17, 0, 8, 0.46);
        border-radius: 20px;
        padding: 20px 10px;
    }
}


@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        margin-right: -10px;
    }
}
@media screen and (min-width: 768px )  {
        .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
            width: 30px;
            height: 30px;
            margin-top: -10px;
            font-size: 15px;
        }

        .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
            right: 15%;
            margin-right: -10px;
            font-size: 20px;
        }
        .carousel-control .glyphicon-chevron-left, .carousel-control .icon-next {
            left: 15%;
            margin-right: -10px;
            font-size: 20px;
        }

        .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
            width: 30px;
            height: 30px;
            margin-top: -10px;
            font-size: 20px;
        }

        .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
            position: absolute;
            top: 50%;
            z-index: 5;
            display: inline-block;
            margin-top: -10px;
        }
    .donate_carousel{
        height:150px;
        top: 40%;
        font-size: 16px;
        background: rgba(17, 0, 8, 0.46);
        border-radius: 20px;
        padding: 20px 10px;
    }
    }
@media screen and (min-width: 768px) and (min-width:1290px) and (min-width:320px) and (max-width: 320px) {
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        position: absolute;
        top: 50%;
        /*z-index: 5;*/
        display: inline-block;
        margin-top: -10px;
    }
    .donate_carousel{
        height:150px;
        top: 50%;
        font-size: 16px;
        background: rgba(17, 0, 8, 0.46);
        border-radius: 20px;
        padding: 20px 10px;
    }
}
@media screen and (min-width: 768px) {
            .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev
            {
                margin-left: -10px;
            }
        }
.header_projects
{
    margin-top: 10px;
    text-align: center;
    color:black;
}
/*background-color: rgba(155, 151, 15, 0.29) ;*/
.header_Events{margin-top: 40px;padding-bottom:20px; }
.homeprojects > div> h3 ,.homeprojects > div> p  { padding-left:10px; }
.homeprojects{
    padding-top: 10px;
    text-align: justify;
    color:black;
    border-color: #0f0f0f; box-shadow:2px 0 20px rgba(3, 56, 69, 0.76) ;
    }
.homeprojects:hover{  border-color:rgba(3, 56, 69, 0.76) ; box-shadow:2px 0 20px black;}
.homeprojects > .head {
    position: absolute; color:black;font-family: Constantia,cursive;font-weight: 600;font-size:20px;left:40%;
}
.homeEvents{
    padding:3px;
    text-align: left;
    color:black;
    border-color: #0f0f0f; box-shadow:2px 0 20px rgba(3, 56, 69, 0.76) ;
}
.homeEvents > .description_event { padding-left:10px;padding-right:10px; }
.homeEvents:hover{  border-color:rgba(3, 56, 69, 0.76) ; box-shadow:2px 0 20px black;}
.homeEvents > .head {
    position: absolute; color:black;font-family: Constantia,cursive;font-weight: 600;font-size:20px;left:40%;
}
.donate_carousel{
    position: relative;
    height:150px;
    top: 14%;
    font-size: 16px;
    background: rgba(17, 0, 8, 0.46);
    border-radius: 20px;
    padding: 20px 10px;
}
.donate_carousel > .btn-lg ,.carousel-caption > .btn-lg{ color: white;border: 2px white solid;}
.donors1{padding-bottom: 30px;}
.donors1 > p { font-size: 23px; text-align: justify;padding-left: 10px;color:white;}
.circle{ padding-top:20px;}
.btn-lg{
    background:none;
    border:2px black solid;
    border-radius: 15px;
    color: black;
    font-weight: bold;
}
.btn-group-lg>.btn, .btn-lg {
 padding: 6px 6px;
}
/*background-color: rgba(155, 147, 12, 0.69) ;background-color: rgba(1, 2, 1, 0.53);*/
.btn-lg:hover{ color:black;font-weight: bold;background-color:rgba(20, 58, 69, 0.52)}
.suggest_donors{padding:20px; align-content: center;}
.donors1 >span{font-size:30px;color:white;font-weight:600 ;text-align: center;padding-bottom: 30px;}
.suggest1{ text-align: left}

.btn-md ,.form-control {
     font-size: 20px;
    border-color: black;
    color: black;
    background-color:rgba(34, 105, 94, 0.04);
   }

/*---------------------------------------------------Scroll Top-----------------------------------------------------------*/
.scrollToTop > img{
    width: 80px;
    height:80px;
    z-index: 999;
    position: relative;


}

#section03 a {
    padding-top: 60px;
}

#section03 a span {
    z-index:9999;
    background-color: rgba(63, 200, 180, 0.16);
    position: absolute;
    bottom:4%;
    right:12%;
    width: 46px;
    height: 46px;
    margin-left: -24px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}
#section03 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}
#section03 a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 40px;
    height: 40px;
    box-shadow: 0 0 0 0 rgba(20, 58, 69, 0.47);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(20, 58, 69, 0.47);
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(20, 58, 69, 0.47);
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
/*------------------------------------------------------------------header Education----------------------------------------*/
.header_education{
    /*background-color: rgba(179, 139, 112, 0.37);*/
    padding-top: 70px;
    padding-bottom: 10px;
    color:black;

}
iframe{height:450px;border-radius: 10px; padding-top: 20px;}
/*---------------------------------------------------------See more button hover effects----------------------------------------*/
.btn
{
    display: inline-block;
    border-radius: 7px;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
    color:white;
}
.btn:hover span:after , .btn
{
    background-color: #2aabd2;
    color:white;
}

