body{
    font-family:Constantia,sans-serif;
    background-size: cover;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}
.btn{
    margin-top:8px;
        }
.form-group{

    padding: 5px;
}
input[type=file]{

  padding: 14px;
  color:grey;
  }
.page-header{
  color: #d9534f;
}
label{
    color:black;
}
#content{
    margin-top:55px;
    }
h2,h6{color: black}
#profileimg{   min-width:150px; max-width: 200px; min-height: 150px;max-height: 200px;}
